<html>
<!-- Página web que muestra información detallada del perro solicitado por sl usuario-->

<head class="headerColor">
    <title>APPet</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilodetalleperro.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body>
    <%- include('./header'); %>

        <h1 class="titulo">
            <%= perro.nombre %>
        </h1>
        <div class="content">
            <div class="imagen">
                <img class="img-thumbnail" src="img/perro/<%= perro.id %>">

                <% if(tipo === "Adoptante"){ %>
                    <form action="/formularioAdopcion" method="GET">
                        <div class="botonera">
                            <input type="hidden" name="idPerro" value="<%= perro.id %>">
                            <input type="hidden" name="idProtectora" value="<%= perro.idProtectora %>">
                            <input type="hidden" name="idAdoptante" value="<%= idU %>">
                            <input type="submit" class="btn btn-success volver" value="¡Adopta a <%= perro.nombre %>!">
                        </div>
                    </form>
                    <% } %>

            </div>
            <div class="datos">
                <p class="negrita">Protectora:
                    <span class="justify"> <%= perro.nombProtectora %> </span>
                </p>

                <p class="negrita">Edad:
                    <span class="justify"> <%= perro.edad %> </span>
                </p>

                <p class="negrita">Raza:
                    <span class="justify"> <%= perro.raza %> </span>
                </p>

                <p class="negrita">Color:
                    <span class="justify"> <%= perro.color %> </span>
                </p>

                <p class="negrita">Peso:
                    <span class="justify"> <%= perro.peso %> </span>
                </p>

                <p class="negrita">Descripción: </p>
                <p class="justify">
                    <%= perro.descripcion %>
                </p>
            </div>
        </div>
        <form action="/protectora" method="GET">
            <div class="botonera">
                <% if(tipo!=="Protectora"){ %>
                <input type="hidden" name="ident" value="<%= perro.idProtectora %>">
                <input type="submit" class="btn btn-success volver" value="¡Ver información de la protectora!">
                <% } %>
            </div>
        </form>
    <form>
            <div class="botonera">
				<input type="hidden" name="ident" value="<%= perro.id %>">
                <% if(tipo===undefined){ %>
                <button type="submit" class="btn btn-info volver" formmethod="get" formaction="/perros"> Volver </button>
                <% }else if(tipo==="Protectora"){%>
				<a href="/modificarPerro?idPerro=<%= perro.id %>"><button class="btn btn-primary btn-lg volver">Modificar Perfil</button></a>
                <button type="submit" class="btn btn-info volver" formmethod="get" formaction="/misperros"> Volver </button>
                <% } %>
            </div>
        </form>
        <%- include('./footer'); %>
</body>

</html>