<html>

<!-- Página web que muestra información relativa a la protectora solicitada por el usuario-->

<head class="headerColor">
    <title>APPet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilodetalleprotectora.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />

</head>

<body>
    <%- include('./header'); %>

        <div class="content">

            <div class="externo">
                <p class="fotoprotectora">
                    <img class="img-thumbnail" src="img/protectora/<%= datos.id %>" width="600">

                </p>
                <p class="textoimagen">
                    <%= datos.nombre %>
                </p>
            </div>

            <div>
                <p class="negrita">Ciudad: </p>
                <p class="datos">
                    <%= datos.ciudad %>
                </p>
            </div>

            <div>
                <p class="negrita">Correo electrónico</p>
                <p class="datos">
                    <%= datos.email %>
                </p>
            </div>

            <div>
                <p class="negrita">Dirección: </p>
                <p class="datos">
                    <%= datos.direccion   %>
                </p>
            </div>

            <div>
                <p class="negrita">Teléfono: </p>
                <p class="datos">
                    <%= datos.telefono %>
                </p>
            </div>

            <div>
                <p class="negrita">Descripción: </p>
                <p class="datos">
                    <%=  datos.descripcion %>
                </p>
            </div>

        </div>


        <form action="/iralistarperrosprotectora" method="GET">
            <div class="botonera">
                <input type="hidden" name="nombrepro" value="<%= datos.nombre %>">
                <input type="hidden" name="ident" value="<%= idp %>">
                <input type="submit" class="btn btn-success volver" value="Ver los perros de la protectora!">
            </div>
        </form>

        <form action="/iraprotectora" method="GET">


            <div class="botonera">
                <input type="submit" class="btn btn-info volver" value="Volver">
            </div>
        </form>









        <%- include('./footer'); %>
</body>

</html>