<html>

<!-- Página web que muestra la lista de perros de una protectora especifica-->

<head class="headerColor">
    <title>APPet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estiloslistaperros.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body>
    <%- include('./header'); %>
    <% if(msg!==undefined){ %>
    <div class="modal fade in" id="myModal" role="dialog" style="display: block;">
	<div class="modal-dialog">
	<!-- Modal content-->
            <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title"><%= msg %></h4>
		</div>
		<div class="modal-body">
		  <p>Pulsa para poder volver a tu perfil.</p>
		</div>
		<div class="modal-footer">
                    <a href="./perfil" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Volver</a>
		</div>
            </div>
	</div>
    </div>
    <% } %>
        <div class="listaperros">
            
            <h3 class="textoo">Mostrando mis perros:
            </h3>

            <div class="panel-body">
                <!--Inicio de los paneles individuales de los perros-->

                <% if(perros !== undefined){ %>
                    <% perros.forEach(p => { %>
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <div class="panel panel-default">
                                <div class="panel-heading contenedor">
                                    <span><%= p.nombre %></span>
                                </div>
                                <!-- Nombre del perro-->
                                <div class="panel-body">
                                    <div class="contImg">
                                        <img class="fotoperro img-responsive" src="img/perro/<%= p.id %>">
                                    </div>
                                    <!--boton-->
                                    <div class="contBot">
                                        <form action="/perro" method="GET">
                                            <input type="submit" class="btn btn-success " value="Ver a <%=p.nombre%> ">
                                            <button type="submit" class="btn btn-danger " formmethod="get" formaction="/eliminar/<%= p.id %>">
                                                <span class="glyphicons glyphicons-bin"></span>
                                            </button>
                                            <input type="hidden" name="idPerro" value="<%= p.id%>">
                                        </form>
                                    </div>
                                    <!--Aqui acaba el panel emergente-->
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <!--Final de los panel individual de los perros-->
                            <% }  else if(perros === undefined){ %>

                                <div class="alert alert-warning alerta">
                                    La protectora no tiene perros actualmente.
                                </div>

                                <% } %>

            </div>
            <div class="contBot">
                <form action="/nuevoperro" method="GET">
                    <input type="submit" class="btn btn-primary nuevoperro" value="Añadir perro">
                </form>
            </div>
        </div> -->
        <%- include('./footer'); %>
</body>

</html>