<html>
<!-- Página web que muestra información al usuario realativa a la adopción de perros-->

<head class="headerColor">
    <title>APPet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" type="text/css" href="css/estilocomoadoptar.css">
</head>

<body>
    <%- include('./header'); %>
        <div id="content" class="divRegistro">
			<% if(mensaje!=undefined){%>
				<% if(mensaje=="exito"){%>
					<div class="modal fade in" id="myModal" role="dialog" style="display: block;">
						<div class="modal-dialog">
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <h4 class="modal-title">¡Se ha realizado el registro correctamente!</h4>
						</div>
						<div class="modal-body">
						  <p>Pulsa para poder iniciar sesión en tu cuenta</p>
						</div>
						<div class="modal-footer">
						  <a href="./login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Iniciar Sesión</a>
						</div>
					  </div>
					</div>
				  </div>
				<%}else{%>
					<div class="alert alert-danger page-alert" id="alert-3" >
                    <ul>
                        <%if(mensaje!=undefined){%>
                            <li><%= mensaje %></li>
                        <%}else{%>
                            <% errors.forEach(error => { %>
                                <li><%= error.msg %></li>
                                <% }); %>
                        <%}%>
                    
                    </ul>
                </div>
            <%}}%>
			
			<form id="login" class="form-login formRegistro justify" action="/modAdoptante" method="POST">
					 <h1>Modificar los campos que considere necesario y pulsar en Modificar.</h1>
					<div class="form-group col-md-12">
					  <label for="inputEmail4">Email</label>
					  <input type="email" class="form-control" name="email" value="<%= datos.email %>" id="inputEmail4" placeholder="Email" required>
					</div>
					<div class="form-group col-md-12">
					<label for="inputAddress">Imagen</label>
					<input type="file" class="form-control" name="imagen" id="inputAddress1" value="<%= datos.foto %>"  accept="image/*" required>
			  </div>
					<div class="form-group col-md-6">
					  <label for="inputPassword4">Password</label>
					  <input type="password" class="form-control" name="password" value="<%= datos.password %>" id="inputPassword4" placeholder="Password"  required>
					</div>
					<div class="form-group col-md-6">
					  <label for="inputPassword4">Repita la Password</label>
					  <input type="password" class="form-control" name="password1" value="<%= datos.password %>" id="inputPassword4" placeholder="Password" required>
					</div>
					<div class="form-group col-md-6">
						<label for="inputAddress">Nombre</label>
						<input type="text" class="form-control" name="nombre" value="<%= datos.nombre %>" id="inputAddress" placeholder="Nombre"  required>
					</div>
					<div class="form-group col-md-6">
						<label for="inputAddress">Apellido</label>
						<input type="text" class="form-control" name="apellidos" value="<%= datos.apellidos %>" id="inputAddress1" placeholder="Apellidos"  required>
					</div>
					<div class="form-group col-md-4">
						<label for="inputCity">Ciudad</label>
						<input type="text" class="form-control" name="ciudad" value="<%= datos.ciudad %>" id="inputCity" required>
					</div>
					<div class="form-group col-md-4">
						<label for="inputAddress2">Dirección</label>
						<input type="text" class="form-control" name="direccion" value="<%= datos.direccion %>" id="inputAddress3" placeholder="Dirección" required>
					</div>
					<div class="form-group col-md-4">
						<label for="inputAddress2">Teléfono</label>
						<input type="tel" class="form-control" name="telefono" value="<%= datos.telefono %>" id="inputAddress4" placeholder="Teléfono" required>
					</div>
					<div class="form-group col-md-4">
						<label for="inputAddress2"></label>
						<input type="hidden" name="id" value="<%= datos.id %>">
					</div>
			  <button type="submit" class="btn btn-primary tnegrita col-md-4">Modificar</button>
			</form>
        </div>
		

        <%- include('./footer'); %>
</body>

</html>