<html>

<!-- Página web que muestra información relativa a la protectora solicitada por el usuario-->

<head class="headerColor">
    <title>APPet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/estilodetalleprotectora.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />

</head>

<body>
    <%- include('./header'); %>
        <% if(tipo==="ProtectoraPendiente"){%>
            <div class="container">
                <div class="row" style="margin-bottom:10%;">
                    <div class="col-md-12 text-center">
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalMessage">
                        <span class="glyphicon glyphicon-envelope"></span> Mensaje
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header btn-primary">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="text-center"  id="myModalLabel">Mensaje</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning page-alert" id="alert-3" >
                                <h3>Aún no has sido aceptado por el administrador. Pruebe en unos instantes de nuevo. <span class="glyphicon glyphicon-tint"></span><span class="glyphicon glyphicon-tint"></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%}else{%>
           <div class="container">
    <div class="row col-md-offset-2 col-md-10 custyle">
        <div class="col-lg-12">
          <div class="col-md-4">
            <figure>
              <img class="img-thumbnail" src="img/protectora/<%= datos.id %>" width="600">
              <h1 >
                <%= datos.nombre %>
              </h1>
            </figure>
            <div class="panel panel-info">
                    <div class="panel-heading">
                        Contacto
                    </div>
                    <div class="panel-body">
                        <div class="list-decks">
                            <p>Correo: <span class="glyphicon glyphicon-envelope"></span>
                            <%= datos.email %>
                            </p>
                            Teléfono: <span class="glyphicon glyphicon-earphone"></span>
                            <%= datos.telefono %>
                        </div>        
                    </div>
                </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                        Ciudad
                </div>
                <div class="panel-body">
                    <div class="list-decks">
                        <%= datos.ciudad %>
                    </div>        
                </div>
            </div>
            
                <div class="panel panel-info">
                        <div class="panel-heading">
                                Dirección
                        </div>
                        <div class="panel-body">
                            <div>
                                <ul class="mapa"> 
                                    <li><%= datos.direccion  %></li>
                            <% if(datos.latitud !== undefined){%>
                            <li><button class="btn btn-primary" data-toggle="modal" data-target="#ModalMessage">
                                        Mostrar mapa
                                </button></li>
                                <!-- Modal -->
                                <div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header btn-primary">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                <h4 class="text-center"  id="myModalLabel"><%= datos.direccion  %></h4>
                                            </div>
                                            <div class="modal-body">
                                                    <div id="map"></div>
                                                    <input id="latitud" type="hide" value="<%=datos.latitud%>">
                                                    <input id="longitud" type="hide" value="<%=datos.longitud%>">
                                                    <script>
                                                    function initMap() {
                                                        var uluru = {lat: Number($('#latitud').val()), lng: Number($('#longitud').val())};
                                                        var map = new google.maps.Map(document.getElementById('map'), {
                                                        zoom: 18,
                                                        center: uluru
                                                        });
                                                        var marker = new google.maps.Marker({
                                                        position: uluru,
                                                        map: map
                                                        });
                                                    }
                                                    </script>
                                                    <script async defer
                                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj7NvU99igfiawBYaknurm3Ib_Pn2U8tA&callback=initMap">
                                                    </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                                </ul>
                        </div>       
                        </div>
                    </div>
                
                <div class="panel panel-info">
                        <div class="panel-heading">
                                Descripción
                        </div>
                        <div class="panel-body">
                            <div class="list-decks">
                                <%=  datos.descripcion %>
                            </div>        
                        </div>
                </div>
              
                <div class="panel perfil-protectora">
                    <a href="/modificarPerfil"><button type="button" class="btn btn-primary btn-lg">Modificar Mi Perfil</button></a>
                </div>
          </div>
        </div>
      </div>
    </div>
        <%}%>    
        <!--  -->
        <%- include('./footer'); %>
</body>

</html>